.user {
    font-size: 2em;
    font-weight: bold;
    padding: 0.5em;
    text-decoration: underline;

}

.error {
    color: red;
    background-color: beige;
    height:fit-content;
    width:fit-content;
    margin: auto;
}

.iname {
    height: 2em;
    
}