.nav {
    background-color: aliceblue;
    border: solid black;
    border-radius: 1em;
    display: flex;
    justify-content: right;
    height: 4em;
    align-content: center;
    align-items: center;
}
.prueba {
    padding: 3em;
}