body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('https://hdqwalls.com/wallpapers/rick-and-morty-5k-fan-art-by.jpg');
  /*https://www.xtrafondos.com/wallpapers/rick-y-morty-artwork-4711.jpg*/
  background-size: cover;
  /* background-position: center; */

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
